@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*@font-face {
  font-family: "Glacial Indifference";
  src: url('../fonts/GlacialIndifference-Regular.otf');
}*/

html, body {
  scroll-behavior: smooth;
  color: #03182e;
  background-color: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6,.subtitle {
/*  font-family: 'Glacial Indifference'; */
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  header {
    display: none !important;
  }
}

header {
  height: 70px;
}

header>img#logo {
  height: 65px;
  position: absolute;
  top: 0;
  left: 0;
}

header>nav {
  max-width: 600px;
  margin-right: 30px;
  gap: 40px;
}

header>nav>a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.title-decoration {
  display: inline-block;
  height: 0.25em;
  width: 100px;
  background-color: #03989e;
}

/* General section style and sizes. */
main section {
  overflow: hidden;
  padding: 30px;
}

@media (max-width: 768px) {
  main section {
    padding: 40px;
  }
}

@media (max-width: 492px) {
  main section#what img {
    display: none;
  }
}

/* Specific section style and sizes. */
main section#hero {
  padding: 0px;
  min-height: calc(100vh - 70px);
  background: url('../img/hero.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f4f4f4;
  font-weight: bold;
  letter-spacing: 1.2px;
}

main section#hero h1 {
  line-height: 0.9;
}

main section#what {
  padding: 30px;
}

main section#what img {
  width: 200px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  main section#hero {
    min-height: 100vh;
  }
  main section#hero h1 {
    margin-bottom: 10px;
  }
}
@media (max-width: 1000px) {
  main section#what {
    flex-direction: column;
  }
}

main section#why {
  background-color: #03182e;
  color: #f4f4f4;
}

/*
main section#who {
  min-height: calc(100vh - 200px);
}

main section#schedule {
  min-height: calc(100vh - 200px);
}

main section#pictures {
  min-height: calc(100vh - 200px);
}

main section#sponsors {
  min-height: calc(100vh - 200px);
} */

footer {
  background-color: #03182e;
  color: #f4f4f4;
}

footer a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: separate;
  border-spacing: 40px 10px;
}

table tr th {
  text-align: left;
  font-size: 14pt;
  padding-top: 30px;
}

table tr td:first-child {
  font-weight: bold;
}

.pastille {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
}

.pastille .pastille-icon-container {
  width: 100px;
  height: 100px;
  background-image: url('../img/pastille-bg.webp');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pastille .pastille-icon {
  width: 40%;
  height: 40%;
}

.cta {
  background-color: #03989e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta p {
  font-size: 30px;
}

.cta>div {
  margin-left: auto;
}

.cta>div>a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 25px;
}

@media (max-width: 1150px) {
  .cta {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

@media (max-width: 1014px) {
  .cta {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .cta>div>a {
    margin-right: 10px !important;
  }
}

@media (max-width: 958px) {
  .cta {
    display: flex;
    flex-direction: column;
  }
  .cta>p {
    margin-bottom: 10px;
    text-align: center;
  }
  .cta>div>a {
    width: 275px;
    text-align: center;
    margin-right: 0 !important;
    margin-top: 10px;
  }
  .cta>div {
    margin-left: 0 !important;
    display: flex;
    flex-direction: column;
  }
}

.talkhead {
	width: 100%;
}
.talkhead > img {
  width: 300px;
  float: left;
  margin-top: 10px;
  margin-right: 20px;
}

/* Classes outils. */
.mg-none {
  margin: 0;
}
.mg-r {
  margin-right: 100px;
}
.mg-r-med {
  margin-right: 30px;
}
.mg-l-med {
  margin-left: 30px;
}
.mg-t-0 {
  margin-top: 0px;
}
.mg-t-med {
  margin-top: 30px;
}
.mg-t-huge {
  margin-top: 100px;
}
.mg-b-sm {
  margin-bottom: 10px;
}
.mg-b-0 {
  margin-bottom: 0px;
}
.mg-b-med {
  margin-bottom: 30px;
}
.pd-huge {
  padding: 100px;
}
.pd-r-huge {
  padding-right: 100px;
}
.pd-l-huge {
  padding-left: 100px;
}
.pd-t-big {
  padding-top: 40px;
}
.pd-b-big {
  padding-bottom: 40px;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-justify-end {
  justify-content: flex-end;
}
.flex-justify-center {
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-gap-huge {
  gap: 100px;
}
.flex-gap-med {
  gap: 50px;
}
.flex-wrap {
  flex-wrap: wrap;
}
.full-width {
  width: 100%;
}
.allcaps {
  text-transform: uppercase;
}
.inline {
  display: inline;
}
.inline-flex {
  display: inline-flex;
}
.ft-huge {
  font-size: 55pt;
}
.align-center {
  text-align: center;
}
.darker-light-color {
  color: #848484;
}
.light-color {
  color: #f4f4f4;
}
.float-l {
  float: left;
}

.sponsor {
	display:block;
}
.sponsor img {
  width: 100%;
  height: 100%;
}

.flex-12 {
 width: 100vw;
}

.flex-4 {
 width: 33.333333333vw;
 height: 33.333333333vw;

}

.pad-top {
  padding-top: 40px;
}

#ism {
  background-color: #4d79d0;
}

#ism img {
  padding-top: 8vw;
}

#sponsors {
  padding-bottom:0;
}

/* Code pour le tableau de l'horaire */
.centered {
  text-align: center;
  font-weight: bold;
}

.header-cell {
  min-width:110px;
}

#program {
	overflow-x: scroll;
}

#program table {
	overflow: visible;
}

#program_table a:link, #student a:link, #who a:link {
      text-decoration: none;
      color: blue;
}

#program_table a:visited, #student a:visited, #who a:visited {
      text-decoration: none;
      color: blue;
}

#program_table a:hover, #student a:hover, #who a:hover {
      text-decoration: none;
      color: blue;
}

#program_table a:active, #student a:active, #who a:active {
      text-decoration: none;
      color: blue;
}

#program_table .bold {
	font-weight: bold;
}

#program_table td {
	max-width: 200px;
}

.directions-row {
  display: flex;
  gap: 40px;              /* space between images */
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.directions-row img {
  width: 100%;
  max-width: 1000px;
  height: auto;
}
